@{
    ViewBag.Title = "Home Page";
}

@using PatientEnrollmentVS.Models;
@model LocationModel

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@* Moment.js library to manipulate date *@
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

@*
    Html.BeginForm to submit form data to the server without whole page postback
    Postback = submitting all the information while the user is still working
*@

@using (Html.BeginForm("SavePatient", "Home", FormMethod.Post, new { @id = "frmHome" }))
{
    <hr />
    <div class="form-group row">
        <div class="form-inline">
            <label for="txtIDSearch" class="col-sm-2 col-form-label">Search Patient</label>
            <div class="form-group mb-2">

                <div class="col-sm-12">

                    @Html.TextBoxFor(x => x.IDNumber, new { id = "txtIDSearch", @class = "form-control" })

                </div>
            </div>
            <input type="button" value="Search" class="btn btn-primary mb-2" onclick="GetButton()" />
        </div>

    </div>
    
    //HtmlAttributes =



    <hr />

    <div class="form-group row">
        <label for="FirstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "FirstName", name = "dllFirstName" })
        </div>
    </div>

    <div class="form-group row">

        <label for="LastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "LastName", name = "dllLastName" })
        </div>
    </div>

    <div class="form-group row">

        <label for="ID_Number" class="col-sm-2 col-form-label">ID Number</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.ID_Number, new { @class = "form-control", id = "ID_Number", name = "dllIDNumber" })
        </div>
    </div>

    <div class="form-group row">

        <label for="DateOfBirth" class="col-sm-2 col-form-label">Date Of Birth</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.DateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "DateOfBirth", name = "DOBirth" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllGetGender" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.GenderIDFK, new List<SelectListItem>()
            {
                new SelectListItem()
                {
                    Value = Model.GenderIDFK,
                    Text = Model.GenderDescription,
                    Selected = true
                }
            }, "0", new { @class = "form-control", id = "dllGetGender", name = "Gender" })

        </div>
        
    </div>

    <div class="form-group row">
        <label for="dllPhoneNumber" class="col-sm-2 col-form-label">Phone number</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", id = "dllPhoneNumber", name = "PhoneN" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "dllEmail", name = "Email" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllLine1" class="col-sm-2 col-form-label">Line 1</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Line1, new { @class = "form-control", id = "dllLine1", name = "Line1" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllLine2" class="col-sm-2 col-form-label">Line 2</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Line2, new { @class = "form-control", id = "dllLine2", name = "Line2" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllGetCities" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.CityIDFK, new List<SelectListItem>()
                {
                    new SelectListItem()
                    {
                        Value = Model.CityIDFK,
                        Text = Model.CityName,
                        Selected = true
                    }
                }, "0", new { @class = "form-control", id = "dllGetCities", name = "Cities" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllGetProvinces" class="col-sm-2 col-form-label">Province</label>
        <div class="col-sm-10">
            
            @Html.DropDownListFor(x => x.ProvinceIDFK, new List<SelectListItem>()
                {
                    new SelectListItem()
                    {
                        Value = Model.ProvinceIDFK,
                        Text = Model.ProvinceName,
                        Selected = true
                    }
                }, "0", new { @class = "form-control", id = "dllGetProvinces", name = "Provinces" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllGetCountries" class="col-sm-2 col-form-label">Countries</label>
        <div class="col-sm-10">
            
            @Html.DropDownListFor(x => x.CountryIDFK, new List<SelectListItem>()
                {
                    new SelectListItem()
                    {
                        Value = Model.CountryIDFK,
                        Text = Model.CountryName,
                        Selected = true
                    }
                }, "0", new { @class = "form-control", id = "dllGetCountries", name = "Countries" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllGetMaritalStatus" class="col-sm-2 col-form-label">Marital Status</label>
        <div class="col-sm-10">
            
            @Html.DropDownListFor(x => x.MaritalStatusIDFK, new List<SelectListItem>()
                {
                    new SelectListItem()
                    {
                        Value = Model.MaritalStatusIDFK,
                        Text = Model.MaritalStatusDescription,
                        Selected = true
                    }
                }, "0", new { @class = "form-control", id = "dllGetMaritalStatus", name = "MaritalStatus" })

        </div>
    </div>

    <div class="form-group row">
        <label for="dllEmergencyName" class="col-sm-2 col-form-label">Emergency Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.EmergencyName, new { @class = "form-control", id = "dllEmergencyName", type = "textarea", name = "EmergencyName" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllEmergencyLastName" class="col-sm-2 col-form-label">Emergency last Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.EmergencyLastName, new { @class = "form-control", id = "dllEmergencyLastName", name = "EmergencyLastName" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllEmergencyPhoneNumber" class="col-sm-2 col-form-label">Emergency Phone Number</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.EmergencyPhoneNumber, new { @class = "form-control", id = "dllEmergencyPhoneNumber", name = "EmergencyPhoneNumber" })
        </div>
    </div>

    <div class="form-group row">
        <label for="dllRelationship" class="col-sm-2 col-form-label">Relationship</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Relationship, new { @class = "form-control", id = "dllRelationship", name = "Relationship" })

        </div>
    </div>

    <div class="form-group row">
        <label for="dllEmergancyDateOfBirth" class="col-sm-2 col-form-label">Date Of Birth</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.EmergancyDateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "dllEmergancyDateOfBirth", name = "EDateofbirth" })

        </div>
    </div>

    <div class="form-group row">
        <label for="dllMedicationList" class="col-sm-2 col-form-label">Medication List</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.MedicationList, new { @class = "form-control", id = "dllMedicationList", rows = "3", name = "MedicationList" })
        </div>
        
    </div>

    //Save Data
    <input type="button" value="Submit" class="btn btn-primary" onclick="SaveButton()" />

    //Update Data
    <input type="button" value="Update" class="btn btn-primary" onclick="UpdateButton()" />

    //Clear Data
    <input type="reset" value="Clear" class="btn btn-primary" />


}
<script>
    debugger
    if ("@Model.Message" != "")
    {
        alert("@Model.Message");
    }
</script>


<script type="text/javascript">



    $(document).ready(function () {

        $.ajax({
            url: "/Home/GetGender",
            dataType: "json",
            cache: true,
            async: true,
            global: false,
            success: function (data) {

                var items = '<option value ="' + '0' + '">' + 'Select status' + '</option>';
                $.each(data, function (i, value) {

                    items += '<option value ="' + value.GenderIDFK + '">' + value.GenderDescription + '</option>';
                    $('#dllGetGender').html(items);
                })

            },
            error: function (xhr) {
                alert("Gender not successful");
            }
        })

        $.ajax({
            url: "/Home/GetCities",
            dataType: "json",
            cache: true,
            async: true,
            global: false,
            success: function (data) {

                var items = '<option value ="' + '0' + '">' + 'Select status' + '</option>';
                $.each(data, function (i, value) {

                    items += '<option value ="' + value.CityIDFK + '">' + value.CityName + '</option>';
                    $('#dllGetCities').html(items);
                })
            },
            error: function (xhr, response) {
                alert("Cities is not successful");
            }
        })

        $.ajax
            (
                {

                    url: "/Home/GetProvinces",
                    dataType: "json",
                    cache: true,
                    async: true,
                    global: false,
                    success: function (data) {

                        var items = '<option value ="' + '0' + '">' + 'Select status' + '</option>';

                        $.each(data, function (i, value) {

                            items += '<option value ="' + value.ProvinceIDFK + '">' + value.ProvinceName + '</option>';
                            $('#dllGetProvinces').html(items);
                        })
                    },
                    error: function (xhr) {
                        alert("Provinces Not successfull")
                    }
                }
            )

        $.ajax
            ({
                url: "/Home/GetCountries",
                dataType: "json",
                cache: true,
                async: true,
                global: false,
                success: function (data) {

                    var items = '<option value ="' + '0' + '">' + 'Select status' + '</option>';

                    $.each(data, function (i, value) {

                        items += '<option value ="' + value.CountryIDFK + '">' + value.CountryName + '</option>';
                        $('#dllGetCountries').html(items);
                    })
                },
                error: function (response, xhr) {
                    alert("Countries is not successful");
                }
            })

        $.ajax
            (
                {
                    url: "/Home/GetMeritalStatus",
                    dataType: "json",
                    cache: true,
                    async: true,
                    global: false,
                    success: function (data) {

                        var items = '<option value ="' + '0' + '">' + 'Select status' + '</option>';
                        $.each(data, function (index, value) {

                            items += '<option value ="' + value.MaritalStatusIDFK + '">' + value.MaritalStatusDescription + '</option>';

                            $('#dllGetMaritalStatus').html(items);
                        })
                    },
                    error: function (xhr) {
                        alert("Marital status not successfull ");
                    }
                }
            )
    })

</script>

<script>



    function SaveButton() {

        debugger
        $.ajax({
            type: "POST",
            url: "/Home/AddPatient",
            data: $("#frmHome").serialize(),   //.serializa() creates a text string in standard URL-encoded notation
            dataType: 'json',
            success: function (data) {

                alert("Patient Saved successfully");
            },
            error: function (xhr, value, response, data) {

                alert(" value from value: " + value.responseText);
                alert("Response from response: " + response.responseText);
            }
        })
    }

    function UpdateButton() {
        $.ajax({
            type: "POST",
            url: "/Home/UpdatePatient",
            data: $("#frmHome").serialize(),
            dataType: 'json',
            success: function (data) {
                alert("Updated successfully");
            },
            error: function () {
                alert("Update not successful");
            }
        })

    }

    function GetButton() {
        debugger
        var IDNumber = $('#txtIDSearch').val();

        if (IDNumber == "") {
            alert("To Search Enter ID Number ")
        }
        else {
            var inputData = { IDnumber: IDNumber }

            debugger
            $.ajax({
                type: "GET",
                url: "/Home/GetPatient",
                data: inputData,
                async: false,
                error: function (xhr) {
                    alert("unsuccessful Getting Patient");
                },
                success: function (data) {

                    //Object.keys() returns an array of GetPatient controller Method
                    debugger
                    for (var key of Object.keys(data)) {

                        switch (key) {

                            case "IDNumber":
                                document.getElementById("txtIDSearch").value = data[key];
                                break;
                            case "FirstName":
                                document.getElementById("FirstName").value = data[key];
                                break;
                            case "LastName":
                                document.getElementById("LastName").value = data[key];
                                break;
                            case "ID_Number":
                                document.getElementById("ID_Number").value = data[key];
                                break;
                            case "DateOfBirth":
                                //Moment.js library to manipulate date
                                var date = moment(data[key]).format("DD-MMM-YYYY");
                                document.getElementById("DateOfBirth").value = date;
                                break;
                            case "GenderIDFK":
                                document.getElementById("dllGetGender").value = data[key];
                                break;
                            case "PhoneNumber":
                                document.getElementById("dllPhoneNumber").value = data[key];
                                break;
                            case "Email":
                                document.getElementById("dllEmail").value = data[key];
                                break;
                            case "Line1":
                                document.getElementById("dllLine1").value = data[key];
                                break;
                            case "Line2":
                                document.getElementById("dllLine2").value = data[key];
                                break;
                            case "CityIDFK":
                                document.getElementById("dllGetCities").value = data[key];
                                break;
                            case "ProvinceIDFK":
                                document.getElementById("dllGetProvinces").value = data[key];
                                break;
                            case "CountryIDFK":
                                document.getElementById("dllGetCountries").value = data[key];
                                break;
                            case "MaritalStatusIDFK":
                                document.getElementById("dllGetMaritalStatus").value = data[key];
                                break;
                            case "MedicationList":
                                document.getElementById("dllMedicationList").value = data[key];
                                break;
                            case "EmergencyName":
                                document.getElementById("dllEmergencyName").value = data[key];
                                break;
                            case "EmergencyLastName":
                                document.getElementById("dllEmergencyLastName").value = data[key];
                                break;
                            case "EmergencyPhoneNumber":
                                document.getElementById("dllEmergencyPhoneNumber").value = data[key];
                                break;
                            case "Relationship":
                                document.getElementById("dllRelationship").value = data[key];
                                break;
                            case "EmergancyDateOfBirth":
                                var date = moment(data[key]).format("DD-MM-YYYY");
                                document.getElementById("dllEmergancyDateOfBirth").value = date;
                                break;
                            default:
                        }
                    }
                }
            })
        }
    }

</script>